[submodule "plugins/AldirBlanc"]
	path = plugins/AldirBlanc
	url = https://github.com/mapasculturais/plugin-AldirBlanc
[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/AldirBlancRedirects"]
	path = plugins/AldirBlancRedirects
	url = https://github.com/mapasculturais/plugin-AldirBlancRedirects
[submodule "plugins/AldirBlancDataprev"]
	path = plugins/AldirBlancDataprev
	url = https://github.com/mapasculturais/plugin-AldirBlancDataprev.git
[submodule "plugins/AldirBlancValidadorFinanceiro"]
	path = plugins/AldirBlancValidadorFinanceiro
	url = https://github.com/mapasculturais/plugin-AldirBlancValidadorFinanceiro
[submodule "plugins/RegistrationPayments"]
	path = plugins/RegistrationPayments
	url = https://github.com/mapasculturais/plugin-RegistrationPayments
[submodule "plugins/AldirBlancValidador"]
	path = plugins/AldirBlancValidador
	url = https://github.com/mapasculturais/plugin-AldirBlancValidador
[submodule "plugins/AldirBlancValidadorRecurso"]
	path = plugins/AldirBlancValidadorRecurso
	url = https://github.com/mapasculturais/plugin-AldirBlancValidadorRecurso
[submodule "plugins/StreamlinedOpportunity"]
	path = plugins/StreamlinedOpportunity
	url = https://github.com/mapasculturais/plugin-StreamlinedOpportunity.git
[submodule "plugins/AbstractValidator"]
	path = plugins/AbstractValidator
	url = https://github.com/mapasculturais/plugin-AbstractValidator.git
[submodule "plugins/AppealValidator"]
	path = plugins/AppealValidator
	url = https://github.com/mapasculturais/plugin-AppealValidator.git
[submodule "plugins/GenericValidator"]
	path = plugins/GenericValidator
	url = https://github.com/mapasculturais/plugin-GenericValidator.git
[submodule "plugins/MapasNetwork"]
	path = plugins/MapasNetwork
	url = https://github.com/mapasculturais/plugin-MapasNetwork.git
[submodule "plugins/GenericPaymentExport"]
	path = plugins/GenericPaymentExport
	url = https://github.com/mapasculturais/plugin-GenericPaymentExport.git
[submodule "plugins/FinancialValidador"]
	path = plugins/FinancialValidador
	url = https://github.com/mapasculturais/Plugin-FinancialValidador.git
[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame.git
